Datasets/*
Data/*
*.pyc
*.pyo
__pycache__/
.idea
report/*
!report/ref.bib
!report/report.tex
!report/graphics
!report/graphics/*.png
!report/graphics/*.eps
!report/graphics/*.dia
report/graphics/*.dia~